<table class="table">
  <thead>
    <tr>
      <th>Device</th>
      <th>Name</th>
      <th>Since</th>
      <th>Resolved?</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% if alarms.none? %>
      <tr>
        <td colspan="6">None</td>
      </tr>
    <% else %>
      <% alarms.each do |alarm| %>
        <tr class="<%= 'table-danger' unless alarm.resolved? %>">
          <td><%= alarm.device_serial_number %></td>
          <td><%= alarm.name %></td>
          <td><%= format_time(alarm.created_at) %></td>
          <td><%= alarm.resolved? ? 'Yes' : 'No' %></td>
          <td><a href="/alarms/<%= alarm.id %>">Details</a></td>
          <td>
            <% unless alarm.resolved? %>
              <form action="/alarms/<%= alarm.id %>/resolve" method="post">
                <button>Resolve</button>
              </form>
            <% ***REMOVED*** %>
          </td>
        </tr>
      <% ***REMOVED*** %>
    <% ***REMOVED*** %>
  </tbody>
</table>
